.lunbo-01 {
    width: 520px;
    height: 280px;
    background: #f00;

}
#lunbo-01-1{
    width: 520px;
    height: 280px;
    position: relative;
}
.ig{
    position: absolute;
    width:520px;
    height: 280px;
}
#lunbo-01-left{
    position: absolute;
    float: left;
    top:127.5px;
    width: 25px;
    height: 35px;
    background: rgba(0,0,0,0.3);
    color: white;
    display: none;
    cursor: pointer;
}
#lunbo-01-right{
    position: absolute;
    left: 495px;
    top:127.5px;
    width: 25px;
    height: 35px;
    background: rgba(0,0,0,0.3);
    color: white;
    display: none;
    cursor: pointer;
}
#lunbo-01-left:hover{background: rgba(0,0,0,0.8);}
#lunbo-01-right:hover{background: rgba(0,0,0,0.8);}
#lunbo-01-left img{
  margin: 10px 0 0 5px;
}
#lunbo-01-right img{
    margin: 10px 0 0 5px;
}
#lunbo-01-bottom{
    position: absolute;
    top:250px;
    left: 220px;
    width: 80px;
    height: 15px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
}
#lunbo-01-bottom p{
    margin-top: 2px;
    margin-left: 5px;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #B7B7B7;
    cursor: pointer;
}