*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
body{
    background-color: #f5f5f5;
}
a{
    cursor: pointer;
}
/*头部*/
.header{
    width: 100%;
    height: 36px;
}

/*logo*/
.logo01{
    width: 100%;
    height: 165px;
    background-color: #ffffff;
}
li{
    list-style: none;
}
.logo{
    width: 1195px;
    height: 165px;
    margin: auto;
}


/*登录开始*/
.main-right{
    width: 295px;
    height: 597px;
    float:right;
}
.t-main{
    width:265px;
    height: 132px;
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    background: url('../image/t-main.png') no-repeat;
    background-size: 295px 167px;
}
.t-1{
    width: 265px;
    height: 100px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 2px;
}
.t-1 img:first-child{
    border-radius: 30px;
}
.t-1-p{
    width: 265px;
    height: 20px;
    display: block;
    margin: 0;
    line-height: 20px;
}
.t-1-p a{
    color: #ff4400;
}
.la1{
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-top: -3px;
    background: url("../image/icon02.png") no-repeat 0px -882px
}
.t-dl a{
    width: 75px;
    height: 25px;
    border-radius: 1px;
    display: inline-block;
    background: #ff6604;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}
.t-dl a:first-child{
    width: 92px;
}
/*登录头像结束*/
.t-gg{
    width: 295px;
    height: 99px;
    margin-bottom: 1px;
    padding-top: 10px;
    background: #fff;
}
#t-gg-ul{
    width: 255px;
    height: 30px;
    padding:0 20px;
}
#t-gg-ul li{
    float: left;
    width: 35px;
    margin: 0 8px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
#t-gg-ul li:hover{
    color: #f40;
}
#t-gg-ul li.on{
    font-weight: bold;
    border-bottom: 2px solid #f40;
}
#t-gg-div{
    width:275px;
    height: 65px;
    font-size: 12px;
    padding-left: 20px;
    padding-top:5px;
}
#t-gg-div li{
    width: 130px;
    height: 25px;
    line-height: 25px;
    float: left;
}
#t-gg-div ul{
    display: none;
}
/*公告结束*/

.t-icon{
    width: 295px;
    height:200px;
    margin-bottom: 2px;
    position: relative;
}
.t-icon-a{
    display: block;
    float: left;
    width: 71.76px;
    height: 66px;
    background: #fff;
    border:1px solid #eaeaea;
    text-align: center;
}

.t-icon-a:nth-child(4){
    border-right: 1px solid #eaeaea;
}

.t-icon-a.on{
    border:1px solid #f40;
    border-bottom-color: #fff;
}
.t-icon-a.out{
    border-bottom: 1px solid #f40;
}

.t-icon-label{
    display: block;
    width: 25px;
    height: 30px;
    margin: 0 auto;
    margin-top: 12px;
    background: url("../image/icon02.png") no-repeat;
}
.t-icon span{
    font-size: 12px;
    line-height: 20px;
}
.t-icon-a:hover span{
    color: #f40;
}
.t-icon span.hover{
    color: #f40;
}
.t-icon laber.t-icon1{
    background: url("../image/icon02.png") no-repeat;
}
.t-icon label.t-icon2{
    background-position: 0px -42px;
}
.t-icon label.t-icon3{
    background: url("../image/t-iconz.jpg") no-repeat center;
}
.t-icon label.t-icon4{
    background-position: 0px -130px;
}
.t-icon label.t-icon5{
    background-position: 0px -175px;
}

.t-icon label.t-icon6{
    background-position: 0px -221px;
}
.t-icon label.t-icon7{
    background: url("../image/t-iconj.jpg") no-repeat center;
}
.t-icon label.t-icon8{
    background-position: 0px -305px;
}
.t-icon label.t-icon9{
    background-position: 0px -350px;
}
.t-icon label.t-icon10{
    background-position: 0px -395px;
}
.t-icon label.t-icon11{
    background-position: 0px -438px;
}
.t-icon label.t-icon12{
    background-position: 0px -1145px;
}
/*显示的div*/
.t-icon-div{
    width: 283px;
    height: 140px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #ff4400;
    border-top:0;
    position: absolute;
    top:68px;
    background: #fff;
}
.t-icon-div1{
    width: 284px;
    height: 130px;
    font-size: 12px;
}
.t-icon-div1a{
    color: #f40;
}
.t-icon-div1-a-first{
    color: #f40;
}
.t-icon-div1 a:first-child{
    margin-left: 12px;
}
.t-icon-div1 span{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0px;
}
.t-icon-div1 span:hover{
    background: #e0e0e0;
}
#t-icon-div1 a{
    display: inline-block;
    width: 56px;
    height: 20px;
}
#t-icon-div2 a{
    margin-right: 25px;
}
#t-icon-div3 a{
    display: inline-block;
    width: 50px;
    height: 20px;
}
#t-icon-div3 a:last-child{
    width: 38px;
}
#t-icon-div4 a{
    display: inline-block;
    width: 52px;
    height: 20px;
}
#t-icon-div4 a:first-child{
    width: 40px;
}
#t-icon-div1 a:first-child{
    margin-left: 12px;
}
/*div内容偏移*/
.t-icon-a-div{
    width: 275px;
    height: 110px;
    overflow: hidden;
    position: relative;
}
.t-icon-nr{
    width: 9999px;
    height: 110px;
    position: absolute;
    top:0;
    left:0;
}
.t-icon-nr1{
    width: 270px;
    height: 105px;
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}
/*偏移内容里面的内容*/
.t-icon-content{
    display: inline-block;
    padding:5px 10px;
    background: #f40;
    border-radius: 2px;
    color: #Fff;
    font-weight: bold;
}
.t-inp-div{
    width: 186px;
    border:1px solid #eaeaea;
    height: 20px;
    padding-left: 2px;
}
.t-inp{
    display: block;
    float: left;
    width: 166px;
    height: 20px;
    border:0;
    outline: 0;
    cursor: pointer;
}
.t-inp-{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
}
.t-inp-a{
    background: url("../image/input4.png");
}
.t-inp-div:hover a{
    background: url("../image/input3.png");
}
.t-div-ll:hover i{
    background: url("../image/input2.png");
}
.t-inp-div:hover{
    border-color: #999;
}
.t-div-ll:hover{
    border-color: #999;
}
.t-inp-i{
    background: url("../image/input.png");
}
.t-inp-p{
    margin-top: 5px;
    margin-bottom: 10px;
}
.t-inp-p b{
    color: #e0e0e0;
    margin: 0 2px;
}
.t-inp-p a{
    color: #f40;
    font-weight: bold;
}
/*改变充值话费value*/
#t-hf{
    width: 188px;
    height: 150px;
    margin-top: 20px;
    z-index: 123;
    display: none;
    position: absolute;
    top: 30px;
    left:5px;
}
#t-hf table{
    width: 186px;
    border-color: #eaeaea;
}
#t-hf table input.on{
    background: #ffece5;
    color: #f40;
}
#t-hf table input{
    border: 0;
    outline:0;
    width: 92px;
    font-weight: bold;
}
#t-hf table input:hover{
    background: #ffece5;
    color: #f40;
    cursor: pointer;
}
/*充话费结束*/
.t-ll{
    display: block;
    border: 0;
    outline:0;
    float: left;
    width: 73px;
}

.t-div-ll{
    width: 93px;
    height: 20px;
    border:1px solid #eaeaea;
    float: left;
}
/*冲流量结束*/

/*充固话*/

.t-inp-yx{
    width: 30px;
    height: 20px;
    text-align: center;
    line-height:20px;
    display: block;
    font-size: 12px;
    float: left;
    font-style: normal;
    background: #f5f5f5;
    margin-right: 2px;
}
.t-inp-div-yx{
    width: 218px;
    padding: 0;
    border-color: #999;
}
#t-inp-yx-a{
    background:url("../image/input-yx.png");
}
.t-inp-div-yx-i{
    border-color: #eaeaea;
    margin-bottom: 10px;
}
.t-inp-div-yx-i:hover i{
    background: url("../image/input.png");
}
/*点卡结束*/
.t-inp-div-QQ{
    width: 250px;
}
.t-div-QQ{
    width: 125px;
}
.t-div-QQ i{
    float: right;
}
/*QQ结束*/

.t-jp-a1{
    color: #ccc;
    float: right;
}
.t-jp-div{
    width: 120px;
    border:1px solid #eaeaea;
    height: 20px;
    float: left;
}
.t-jp-div:hover{
    border-color: #999;
}
.t-jp-s{
    width: 25px;
    height: 20px;
    display: block;
    float: left;
    background: url("../image/input-wf.png") 6px center no-repeat;
}
.t-jp-a-{
    width: 25px;
    height: 20px;
    display: block;
    float: left;
}
.t-inp-jp{
    width: 67px;
}
.t-jp-a{
    background: url("../image/input-jp.png");
}
.t-jp-i{
    background: url("../image/input-rq.png");
}
/*国内机票结束*/

.t-inp-div-mz{
    width: 250px;
    padding: 0;
}
.t-inp-mz{
    width: 60px;
    height: 20px;
    text-align: center;
    line-height:20px;
    display: block;
    font-size: 12px;
    float: left;
    font-style: normal;
    color: #6b6b6b;
    background: #f5f5f5;
    margin-right: 2px;
}
.t-xb{
    background: none;
    color: #000;
    margin: 0 15px;
    border: 1px solid #eaeaea;
}
/*车险结束*/
/*icon结束*/

.t-app{
    width: 265px;
    height:106px;
    padding:0 15px;
    padding-top: 10px;
    background: #fff;
}
.t-app h5{
    margin-bottom: 10px;
}
.t-app h5 a{
    font-size: 12px;
    font-weight: normal;
    float: right;
}
.t-app li {
    float: left;
    margin-right: 24px;
    margin-bottom: 5px;

}
.t-app li:nth-child(5),li:nth-child(10){
    margin-right: 0;
}
.t-app li a img{
    width: 32px;
    height: 32px;
}
.t-app-li{
    position: relative;
}
.t-app div{
    position: absolute;
    top:-95px;
    left: -30px;
    text-align: center;
    font-size: 12px;
    border:1px solid #eaeaea;
    background: #fff;
    width: 90px;
    display: none;
    z-index: 10;
}

/*阿里APP结束*/

/*尾部*/
.footer{
    width: 100%;
    height: 250px;
    background-color: #ffffff;
}
/*fixed-dh导航条结束*/
#fixed-dh{
    position: absolute;
    right: 50%;
    top: 490px;
    height: 450px;
    margin-right: -665px;
}
.fixed-a{
    display: block;
    width: 34px;
    height: 44px;
    position: relative;
    text-decoration: none;
    padding: 6px 8px 0;
    font-size: 14px;
    white-space: normal;
    text-align: center;
    background: #fff;
}
.fixed-a:hover{
    color: #fff;
    background: #f40;
}
.fixed-a:after{
    content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    z-index: 9999;
    left: 8px;
    bottom: -0.5px;
}
.fi-a2,.fi-a3,.fi-a4,.fi-a5,.fi-a8{
    line-height: 40px;
}

.fi-a1,.fi-a2,.fi-a6{
    color: #f40;
}
.fi-a3{
    color: #3d85cf;
}
.fi-a4{
    color: #00CC66;
}
.fi-a5{
    color: #8F6221;
}
/*hover 改变不一样的背景*/
.fi-a1:hover{
    background: url("../image/t-1.png");
}
.fi-a2:hover{
    background: url("../image/t-1.jpg");
}
.fi-a3:hover{
    background: url("../image/t-3.jpg");
}
.fi-a4:hover{
    background: url("../image/t-4.jpg");
}
.fi-a5:hover{
    background: url("../image/t-5.jpg");
}
.fi-a6:hover{
    background: url("../image/t-6.jpg");
}
/*滚动添加的类名*/
.fi-a1.on{
    color: #fff;
    background: url("../image/t-1.png");
}
.fi-a2.on{
    color: #fff;
    background: url("../image/t-1.jpg");
}
.fi-a3.on{
    color: #fff;
    background: url("../image/t-3.jpg");
}
.fi-a4.on{
    color: #fff;
    background: url("../image/t-4.jpg");
}
.fi-a5.on{
    color: #fff;
    background: url("../image/t-5.jpg");
}
.fi-a6.on{
    color: #fff;
    background: url("../image/t-6.jpg");
}