*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "宋体";
}
a{
    text-decoration:none ;
}

.top_logo{
    width: 100%;
    height:129px;
    background-color:#FFFFFF;
}
.top_logo_center{
    width: 1190px;
    margin: 0 auto;
    background-color: #FFF;
    padding-top: 30px;
    height: 99px;
}
.logo{
    display: block;
    margin-top: 8px;
    margin-left: 22px;
    width: 145px;
}
.top_logo_search{
    width:625px;
    height:90px;
    float: left;
}
.top_logo_search_t{
     height: 25px;
}
.top_logo_search_t ul li{
    font-size: 12px;
    list-style: none;
    float: left;
    text-align: center;
    width: 50px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    color: #FF4400;
}
.top_logo_search_t ul li:first-child{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF4400;
}
.top_logo_search_t ul li:hover{
     background-color: #FFeee5;
}

.top_logo_search_b{
    padding: 3px 0 3px 3px;
    height: 34px;
    background: #F50;
}


